div.pd-overlay>div>div.center>div.chat-container>div>div.messages-container>div>div>span.username.side-0 {
    color: #88cdff !important;
}

div.pd-overlay>div.pd-ranking-dialog>div>div>div>div>div.side.side--left>div>div.ranking-list>div {
    --tw-gradient-from: rgba(6, 33, 95, 0.4) !important;
}

div.pd-overlay>div>div.sidebar.left>div>div.inner.inner--left>div.player-slot {
    --tw-gradient-from: rgba(6, 33, 95, 0.4) !important;
}

div.choices>div.el-row.content>div.suitable>div.inner {
    background-color: rgba(16, 113, 185, var(--tw-bg-opacity)) !important;
}

div.el-row.main-actions>div.el-col.el-col-8.is-guttered>button {
    background-color: rgba(16, 103, 185, var(--tw-bg-opacity)) !important;
    border-color: rgba(14, 81, 144, var(--tw-border-opacity)) !important;
}

div.el-row.main-actions>div.el-col.el-col-8.is-guttered>button:hover {
    background-color: rgba(13, 83, 149, var(--tw-bg-opacity)) !important;
    border-color: rgba(11, 59, 104, var(--tw-bg-opacity)) !important;
}

div.el-row.animal-data > div.el-col.el-col-24.auto-col.relative > div.meter.vertical.rounded-none.animal > div.inner {
    background-color: rgba(0, 95, 255, 0.3) !important;
}