.home-page .home-bg {
    background-image: url(/assets/bgimage.png) !important;
}
.vfm--overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.dark .modal-content {
    background-color: rgba(31, 41, 55, 0.5) !important;
}
.dark body .el-input__wrapper, .dark body .el-textarea__wrapper {
    background-color: rgba(17, 24, 39, 0.5) !important;
}