.home-page .home-bg {
    background-image: url(/assets/bgimage.png) !important;
}
.vfm--overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.dark .modal-content {
    background-color: rgba(31,41,55,0.3) !important;
}