body {
    background-image: url(/assets/bgimage.png);
}

.error-code {
    font-size: 5em;
}

.center {
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: auto;
}